#presentations {
    background-color: hsl(243, 100%, 14%);
    color: #B6D2DB;

    .container {
        .presentation-list {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            &>div{
                background-color: rgba(255,255,255,0.85);
                color:  hsl(243, 100%, 14%);
                margin-bottom:25px;
                border-radius: 25px;
                padding: 20px;
                width: 30%;
                h1{
                    min-height: 55px;
                }
            }

        }
    }
}