:root {
    --bg-color: #90AFC5;
    --header-color: #336b87;
    --font-color: #2A3132;
    --link-color: #763626;
  }

//   :root {
//     --font-color: #04202C;
//     --header-color: #304040;
//     --bg-color: #5B7065;
//     --link-color: #c9d1c8;
//   }

  // var(--font-color);
